.s-banner {
    background-image: url(../../assets/img/background_banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16rem 5rem;
    height: 54rem;
    @include sp {
        padding: 6rem 5rem;
        background-position: inherit;
    }
    @include tb {
        padding: 10rem 5rem;
    }
    
    &__box {
        width: 45%;
        float: right;
        text-align: center;

        @include tb {
            width: 75%;
        }
        @include sp {
            width: 100%;
        }
    }
    &__title {
        font-size: 5rem;
        font-weight: 600;
        color: #000000;
        line-height: 1.2;
        position: relative;
        @include sp {
            font-size: 4rem;
        }

        &::after {
            content: '';
            height: 2px;
            width: 120px;
            background: #999999;
        }
    }

    &__description {
        font-size: 4rem;
        line-height: 1.4;
        font-weight: 100;
        color: #666;
        letter-spacing: 1px;
        padding: 2rem 0;
        @include sp {
            font-size: 3rem;
        }
    }

    &__btn {
        display: block;
        background: none;
        border: 1px solid #000;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        margin: 0;
        padding: 8px 11px;
        text-transform: uppercase;
        width: 20rem;
        font-size: 2rem;
        margin: 0 auto;
        position: relative;

        a{  
            text-decoration: none;
            color: #666;
        }
    }
}   