.s-services {
    padding: 3rem 0;

    &__box {
        text-align: center;
        border: 1px solid #f4f4f7;
        padding: 4rem 1.5rem;
        height: 100%;
        transition: all .5s ease;

        &:hover {
            background-color: #F4F4F7
        }
    }
    &__title {
        font-size: 18px;
        font-weight: 500;
        margin: 10px 0;
        color: #666;
    }
    &__desc {
        font-size: 2rem;
        color: #4444;
    }

    &__box:hover &__title {
        transform: scale(1.1);
        transition: all .4s;
    }

    &__box:hover &__img {
        opacity: 0.4;
        transition: all .4s;
    }
    
    
}