[type="button"] {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: 0;
    border-radius: 50%;
    text-indent: -9999px;
    background-color: #ffff;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.9;
    transform: translateY(-50%);
    transition: all 0.25s ease;
    
    &:hover {
      opacity: 1;
    }
    
    &.slick-next {
      right: 0;
      background-image: url(../../assets/img/prev.svg);
      background-size: 15px;
      margin: 0 5rem;

      &:hover {
        right: -5px;
      }
    }
    
    &.slick-prev {
      left: 0;
      background-image: url(../../assets/img/next.svg);
      background-size: 15px;
      margin: 0 5rem;
      
      &:hover {
        left: -5px;
      }
    }
  }
  .slick-dots {
	position: absolute;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 20px;
	padding: 1rem 0;
	list-style-type: none;
		li {
			margin: 0 18px;
		}
		button {
			width: 30px;
            height: 5px;
            border: 1px solid #000;
            border-radius: 0;
            display: block;
		}
	
		li.slick-active button {
			background-color: #000;
		}
}
.slick-slide img {
    width: 100%;
    height: auto;

  
}